<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= tag :meta, name: "user_token",
               content: assigns[:user_token] %>
    <%= tag :meta, name: "user_id",
               content: assigns[:current_user].id %>

    <title><%= title(@conn) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

  <div class="container">
    <div class="columns">
      <div class="one-fifth column">
        <h1>Pullhub</h1>
      </div>
    </div>
    <div class="columns">
      <div class="one-fifth column">
        <%= if @current_user do %>
          <nav class="menu">
            <%=
              active_link(@conn, "Pull requests", to: pull_request_path(@conn, :index), class: "menu-item")
            %>

            <%=
              active_link(@conn, "Repositories", to: repository_path(@conn, :index), class: "menu-item")
            %>
          </nav>
        <% end %>

        <nav class="menu">
          <%= if @current_user do %>
            <li>
              <%= link "Log out", to: auth_path(@conn, :delete), method: :delete, class: "menu-item" %>
            </li>
          <%= else %>
            <li>
              <%= link "Login", to: auth_path(@conn, :request, :github), class: "menu-item" %>
            </li>
          <% end %>
        </nav>
      </div>
      <div class="four-fifths column">
        <%= if get_flash(@conn, :info) do %>
          <p class="flash flash-info" role="flash">
            <%= get_flash(@conn, :info) %>
          </p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="flash flash-error" role="flash">
            <%= get_flash(@conn, :error) %>
          </p>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
  </div>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
